env/
.env
venv/
.venv/
lama-venv/


.DS_Store

# models/
data/
node_modules/
dist/
*.tsbuildinfo
node_modules/.tmp/
.DS_Store

__pycache__/
*.sqlite3


# Python bytecode
**/__pycache__/
**/*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environments (추가 경로)
ENV/

# Logs
*.log

# Model checkpoints
*.pth
*.pt
**/*.ckpt
backend/empty_room_gen/masking/checkpoints/

# Masking output
backend/empty_room_gen/masking/outputs/

# Sample/demo images
backend/empty_room_gen/masking/Tag2Text/images/
**/demo_outputs/
**/test_images/
**/inference_outputs/
*.png
*.jpg
backend/empty_room_gen/interior/assets/

# Third-party modules cloned from external repositories 
backend/interior/fopa/
backend/interior/IP-Adapter

# Tensorboard / lightning logs
lightning_logs/
tb_logs/
outputs/
__pycache__/
*.pyc